.teacher_info
  .teacher_name
    %i.icon-user
    %span.lead
      = teacher.name
  %hr
  .teacher_data
    .teacher_data_top.clear
      .teacher_data_contacts
        %div
          %i.icon-envelope
          %span= teacher.email
        %div
          %i.icon-signal
          %span= teacher.tel
    .teacher_data_left_column
      %dl
        %dt Especialidade(s)
        %dd.teachers_data_specialities= teacher_specialities(teacher)
    /
      .teacher_data_right_column
        %dl
          %dt Cidade
          %dd.teacher_data_city= teacher.city_with_abbr
    .teacher_data_bottom.clear
      %dl
        %dt Descrição
        %dd.description_field
          = teacher.description


  

