= hidden_field :teacher, :id, :value => @teacher.id

.messages

%legend Editar dados do perfil no Quero Um Professor


.left-float
  =form_for @teacher, :html => {:class => "form-horizontal"} do |f|

    .control-group
      = f.label :name, "Nome", :class => "control-label"
      .controls
        = f.text_field :name

    .control-group
      = f.label :tel, "Telefone", :class => "control-label"
      .controls
        = f.text_field :tel

    .control-group
      = f.label :email, "Email", :class => "control-label"
      .controls
        = f.text_field :email

    .control-group
      = label_tag :estado_id, "Estado", :class => "control-label"
      .controls
        = f.collection_select :estado_id, @estados, :id, :nome, :include_blank => "Escolha um estado"

    .control-group
      = f.label :cidade, "Cidade", :class => "control-label"
      = hidden_field :cidade, :id, :value => @teacher.cidade_id
      .controls
        #empty_cities
          = select_tag ""

    .control-group
      = f.label :description, "Descriçao", :class => "control-label"
      .controls
        = f.text_area :description, :rows => 4

    .control-group
      .controls
        = f.submit "Atualizar Dados", :class => "btn btn-primary"

.right-float

  Sou professor de: 
  %span#teacher_specialities_list
    - @teacher.specialities.each do |s|
      = render :partial => 'teacher_speciality_button', :locals => {:s => s, :teacher => @teacher}

  .select_specialities
    = collection_select :specialities_list, :id, @specialities, :id, :name, {}, {:size => 10}
    %br
    = button_tag "Incluir especialidade", {:id => "include_speciality_button"}
        
.clear




