.center
  = image_tag "queroumprofessor44.png"
  %h3 Encontre seu professor particular com rapidez

.home-header
  - if session[:teacher]
    = link_to "logout", "/logout"
    %br
    = "Olá #{session[:teacher]}"

.home-search-box
  #messages
    -if flash[:notice]
      .alert.alert-success
        = flash[:notice]
  = render :partial => 'search_fields'


