.center
  = image_tag "queroumprofessor.png"
  %h3 Encontre seu professor particular com rapidez

.home-header
  - if session[:teacher]
    = "Olá #{session[:teacher]}"

=form_tag "/teachers/search_results" do

  .home-search-box.form-inline.center
    De &nbsp;#{text_field :speciality, :name}&nbsp;em&nbsp;#{text_field :location, :name}&nbsp;#{button_tag ">", :class => "btn btn-primary"}

%hr

%p.center
  É um professor e quer anunciar? Escolha sua forma de login:
  %span.login-icons
    = link_to image_tag("social-twitter-box-blue-icon.png"), "/auth/twitter"
    =image_tag "social-facebook-box-blue-icon.png"
    = link_to image_tag("GMail-icon.png"), "/auth/gmail"

