!!! XML
!!!
%html
  %head
    %title Quero Um Professor
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .login
      .container
        .header
          #user_navigation
            %ul
              %li
                %a{:href => "/auth/twitter"}= t{"auth-twitter", :default=>"twitter"}


      = yield

