!!! XML
!!!
%html
  %head
    %title Quero Um Professor
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    /
      .login
        = link_to image_tag("social-twitter-box-blue-icon.png"), "/auth/twitter"
        = image_tag "social-facebook-box-blue-icon.png"
        = image_tag "GMail-icon.png"

    .container
      = yield

    .footer
      %p.center
        É um professor e quer anunciar? Escolha sua forma de login:
        %span.login-icons
          = link_to image_tag("social-twitter-box-blue-icon.png"), "/auth/twitter"
          =image_tag "social-facebook-box-blue-icon.png"
          = link_to image_tag("GMail-icon.png"), "/auth/google_oauth2"
        -if session[:teacher_id]
          %br
          = link_to "Editar perfil", edit_teacher_path(session[:teacher_id])


