!!! XML
!!!
%html
  %head
    %title Quero Um Professor
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body

    .container

      .header
        = link_to image_tag("queroumprofessor44.png"), teachers_home_path
        %h3 Encontre seu professor particular com rapidez

      .content
        = yield

      .footer.center
        %div
          -if session[:teacher_id]
            %br
            = (link_to "Editar perfil#{' (Ainda sem especialidades cadastradas)' if current_user && !current_user.specialities.any?}", edit_teacher_path(session[:teacher_id])) + "  |  " + (link_to "Logout", "/logout")
          -else
            É um professor e quer anunciar? Escolha sua forma de login ou cadastre-se usando um dos serviços:
            %span.login-icons
              = link_to image_tag("social-twitter-box-blue-icon.png"), "/auth/twitter"
              = link_to image_tag("social-facebook-box-blue-icon.png"), "/auth/facebook"
              = link_to image_tag("GMail-icon.png"), "/auth/google_oauth2"
        .site_info
          %span.site_info_items
            Contato 
          %span.site_info_items
            Ajuda
          .copyright
            © QueroUmProfessor



