!!! XML
!!!
%html
  %head
    %title Quero Um Professor | Busca de professores particulares
    %meta{:name => "description", :content => "Busca de professores particulares"}
    %meta{:name => "keywords", :content => "aula particular, professor particular"}
    %meta{:name => "robots", :content => "index, nofollow"}
    %meta{:name => "author", :content => "Felipe Hespanhol"}
    %meta{:name => "reply-to", :content => "felipeghespanhol@gmail.com"}
    %meta{:"http-equiv" => "content-language", :content => "pt-br"}
    %meta{:"http-equiv" => "content-language", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body

    .container

      .header
        = link_to image_tag("queroumprofessor44.png"), teachers_home_path
        %h3 Encontre seu professor particular com rapidez

      .content
        = yield

      .footer.center
        %div
          -if session[:teacher_id]
            %br
            = (link_to "Editar perfil#{' (Escolha uma ou mais especialidades para ativar seu cadastro)' if current_user && !current_user.specialities.any?}", edit_teacher_path(session[:teacher_id])) + "  |  " + (link_to "Logout", "/logout")
          -else
            É um professor e quer anunciar? Escolha sua forma de login ou cadastre-se usando um dos serviços:
            %span.login-icons
              = link_to image_tag("social-twitter-box-blue-icon.png"), "/auth/twitter"
              = link_to image_tag("social-facebook-box-blue-icon.png"), "/auth/facebook"
              = link_to image_tag("GMail-icon.png"), "/auth/google_oauth2"
        .site_info
          /
            %span.site_info_items
              Contato 
            %span.site_info_items
              Ajuda
          .copyright
            QueroUmProfessor © 2012



